// Clasic Service Two section start
.clasic-service-section-three.section.bg-image.jarallax.pt-md-70.pb-md-70.pt-sm-60.pb-sm-60(data-bg='images/bg/service-bg.jpg')
  .container
    .row.align-items-end
      .col-xl-6.col-lg-12
        .clasic-service-content-three
          h2 Почему монтировать самому быстрее и надежнее
          p
            | Handyman was established in response to the growing need for quality housing and commercial space in the city. Since then, we have grown to be one of the leading real estate developers serving the needs of a discerning clientele.
          ul
            li We have high quality labor who are trainned every year with latest technology.
            li We have 15 year experience in building market.
            li Material from the top partner in market.
            li Update the tendency from around the world.
      .col-lg-6
// Clasic Service Two section end
