// Activity Service section start
.activity-service.section.bg-image(data-bg='images/bg/footer-bg.jpg')
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12
        .activity-service-content
          img.activity-service-icon(src='https://via.placeholder.com/120x78/fbd232/000.png?text=ИКОНКА', alt="Электрообогрев домов, квартир и дач" width="99" height="64")
          h2.activity-service-title Электрообогрев домов, квартир и дач
          p.activity-service-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          a.btn.white-hover(href='#')
            | Узнать больше
            i.fa.fa-angle-double-right
      .col-lg-6.col-md-6.col-sm-12
        .activity-service-content
          img.activity-service-icon(src='https://via.placeholder.com/120x78/fbd232/000.png?text=ИКОНКА', alt="Промышленный электрообогрев" width="99" height="64")
          h2.activity-service-title Промышленный электрообогрев
          p.activity-service-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          a.btn.white-hover(href='#')
            | Узнать больше
            i.fa.fa-angle-double-right
// Activity Service section end

