// Activity Service section start
.activity-service.section.bg-item.mb-30
  +picture-jpg-webp('bg/footer-bg', 1920, 492, '1', 'bg-img')
  .container-fluid
    .row
      .col-lg-6.col-md-6.col-sm-12
        .activity-service-content
          +pl-webp('https://via.placeholder.com/120x78/fbd232/000', 99, 64, 'activity-service-icon')
          h2.activity-service-title Электрообогрев домов, квартир и дач
          p.activity-service-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          a.btn.white-hover(href='#')
            | Узнать больше
            i.fa.fa-angle-double-right
      .col-lg-6.col-md-6.col-sm-12
        .activity-service-content
          +pl-webp('https://via.placeholder.com/120x78/fbd232/000', 99, 64, 'activity-service-icon')
          h2.activity-service-title Промышленный электрообогрев
          p.activity-service-text
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
          a.btn.white-hover(href='#')
            | Узнать больше
            i.fa.fa-angle-double-right
// Activity Service section end

