// Features section start
.features-section.section.pt-95.pt-lg-75.pt-md-65.pt-sm-55.pt-xs-0.pb-65.pb-lg-45.pb-md-35.pb-sm-25.pb-xs-15
  .container
    .row
      .col
        .section-title.text-left.mb-35
          h2 4 шага от проекта до реализации
          p
            | From complete turn key to project manager. Leave the building to the professionals.
    .row
      .col-xl-3.col-lg-6.col-md-12.col-sm-12
        // Single Features Start
        .feature-wrap
          .feature-style-2.mb-35
            .content
              h3
                a(href='index-3.html#') Сделаем проект
              p
                | From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.
            .features-icon
              i.pe-7s-cash
        // Single Features End
      .col-xl-3.col-lg-6.col-md-12.col-sm-12
        // Single Features Start
        .feature-wrap
          .feature-style-2.mb-35
            .content
              h3
                a(href='index-3.html#') Изготовим для вас
              p
                | If you are in emergency situation, please do not worry. We provide 24/7 service. Whenever you call, we service you.
            .features-icon
              i.pe-7s-cash
        // Single Features End
      .col-xl-3.col-lg-6.col-md-12.col-sm-12
        // Single Features Start
        .feature-wrap
          .feature-style-2.mb-35
            .content
              h3
                a(href='index-3.html#') Доставим по России
              p
                | We do more than a renovation service- we check for glitches that need attention to keep you safe and save your money.
            .features-icon
              i.pe-7s-cash
      .col-xl-3.col-lg-6.col-md-12.col-sm-12
        // Single Features Start
        .feature-wrap
          .feature-style-2.mb-35
            .content
              h3
                a(href='index-3.html#') Простая установка
              p
                | We do more than a renovation service- we check for glitches that need attention to keep you safe and save your money.
            .features-icon
              i.pe-7s-cash
        // Single Features End
// Features section end
