.hero-section.section.position-relative
  // Hero Item start
  .hero-item.bg-image(data-bg='images/hero/hero-3.jpg')
    .container
      .row
        .col-12
          // Hero Content start
          .hero-content-2
            +picture-png-webp('hero/home01-slide01', 281, 239, 'slide', 'left-img')

            .hero-content-wrapper
              h1
                span.sm-size.tx-uppercase Системы
                span.sm-size.white.tx-uppercase Электрообогрева
              p
                span.tx-uppercase Проектирование
                span.tx-uppercase Изготовление
                span.tx-uppercase Доставка

              a.btn.tx-uppercase._anchor-link(href='request-form')
                | Узнать стоимость проекта
                i.fa.fa-angle-double-right

          // Hero Content end
    // Hero Item end
