.hero-section.section.position-relative
  // Hero Item start
  .hero-item.bg-image(data-bg='images/hero/hero-3.jpg')
    .container
      .row
        .col-12
          // Hero Content start
          .hero-content-2
            img.left-img(src='images/hero/home01-slide01.png', alt='')

            .hero-content-wrapper
              h1
                span.sm-size.tx-uppercase Системы
                span.sm-size.white.tx-uppercase Электрообогрева
              p
                span.tx-uppercase Проектирование
                span.tx-uppercase Изготовление
                span.tx-uppercase Доставка

              a.btn.tx-uppercase(href='about.html')
                | Узнать стоимость проекта
                i.fa.fa-angle-double-right

          // Hero Content end
    // Hero Item end
