// Team Section Start
.team-section.section.pt-95.pt-lg-75.pt-md-65.pt-sm-35.pt-xs-45.pb-70.pb-lg-50.pb-md-30.pb-sm-20.pb-xs-10
  .container
    .row
      .col-12
        .section-title.text-center.mb-35
          h2 Работаем с проверенными производителями
          p We have high quality handmen who are equiped with the latest tools.
    .row
      .col-lg-6.col-md-12.col-sm-12
        // Single List Team Start
        .single-team.mb-30
          .team-image
            +pl-webp('https://via.placeholder.com/150.png?text=Лого', 150, 150, '')
          .team-content
            h3 James Dean
            p
              strong Heating, Electricity
              |  James displayed a professional and trusting manner. His performance on the job was excellent. His major is heating and electricity.
        // Single List Team End
      .col-lg-6.col-md-12.col-sm-12
        // Single List Team Start
        .single-team.mb-30
          .team-image
            +pl-webp('https://via.placeholder.com/150.png?text=Лого', 150, 150, '')
          .team-content
            h3 David Villar
            p
              strong Plumbing
              |  David is one of the best guy in our crew.David does an excellent job in every projects. He&rsquo;s knowlegeable, fast and efficient.
        // Single List Team End
// Team Section End
