.popup.popup-cookie.open
  .container
    .popup-cookie__content
      button.btn.popup-cookie__close.close-popup(type="button" title="Ок") Ок
      .row
        .col-12
          p ООО «Альбинос» использует <a href="privacy-policy.html">файлы cookie</a>. Продолжая работу с сайтом, вы подтверждаете использование сайтом cookies вашего браузера, которые помогают нам делать этот сайт удобнее для пользователей. Однако вы можете запретить сохранение файлов cookie в настройках своего браузера. Обработка данных пользователей осуществляется в соответствии с Политикой обработки персональных данных и Согласием на обработку данных пользователя сайта.
