.popup._popup-request
  .popup__body
    .popup__content.bg-black
      button.popup__close.close-popup(type="button" title="Закрыть окно")
      .contact-form.pt-30.pb-30.pl-30.pr-30._form
        form(action='https://jsonplaceholder.typicode.com/users')
          .row
            .col-md-12
              h2.popup__title.mb-20 Заказать заявку на проект за 24 часа
              p.popup__text.mb-30 Оставьте заявку, и наш специалист свяжется с Вами в ближайшее время
          .row
            .col-md-6
              .contact-form-style.mb-10
                input(name='phone', id="request-24-form-phone", placeholder='Телефон*', title="Телефон" type='tel' required)
                label.visually-hidden(for="request-24-form-phone") Телефон
                span.errorMessage
            .col-md-6
              .contact-form-style.mb-10
                input(name='email', id="request-24-form-email", placeholder='Email*', title="Email" type='email' required)
                label.visually-hidden(for="request-24-form-email") Email
                span.errorMessage
            .col-md-6
              .contact-form-style.mb-10
                input(name='name', id="request-24-form-name", placeholder='Имя', title="Имя" type='text')
                label.visually-hidden(for="request-24-form-name") Имя
                span.errorMessage
            .col-md-12
              .contact-form-style.contact-form-consent
                input.visually-hidden(type="checkbox" id="request-24-consent" name="consent" checked required)
                label(for="request-24-consent") Я даю согласия на обработку
                a.contact-form-consent-link(href="privacy-policy.html", target="_blank") персональных данных
                span.errorMessage
            .col-md-12
              .contact-form-style
                button.btn.mt-10(type='submit') Отправить
