.popup._popup-success
  .popup__body
    .popup__content.bg-black
      button.popup__close.close-popup(type="button" title="Закрыть окно")
      .contact-form.pt-60.pb-30.pl-40.pr-40
        .row
          .col-md-12
            h2.popup__title.mb-20.text-center Ваша заявка отправлена.
            p.popup__text.mb-30.text-center В ближайшее время вам перезвонит менеджер.
