.popup {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup-cookie {
  top: auto;
  bottom: 0;
  height: auto;
}

.popup-cookie__content {
  position: relative;
  padding: 15px 0;
  max-width: calc(100vw - 200px);

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.popup-cookie__close {
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 25px;
}

.popup-cookie p {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  width: calc(100% - 70px);

  @media (max-width: 767px) {
   width: calc(100% - 80px);
  }
}

.popup-cookie a {
  text-decoration: underline;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
  transition: all 0.8s ease 0s;
}
.popup__content {
  max-width: 800px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  box-shadow: 6px 6px #1d2634, 12px 12px #fc9800;
}
.popup__content_image {
  padding: 0;
}
.popup__image img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  z-index: 999999;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: #fc9800;
    }
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: 18px;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
.popup__title {
  color: #fc9800;
}
.popup__text {
  color: #d2d2d2;
  line-height: 1.4;
}
