include mixins

block variables
- let mainTitle = "Системы электрообогрева";
- let description = "Проектирование, изготовление, доставка";

doctype html
html.no-js( lang="ru" )
  head
    meta( charset="UTF-8" )
    meta( http-equiv="x-ua-compatible" content="ie=edge")
    title #{mainTitle} !{title && "| " + title}
    meta( name="description" content= "" + description )
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    <!-- Place favicon.ico in the root directory -->
    link( href="images/favicon.ico" type="img/x-icon" rel="icon")
    link( href="images/favicon.ico" type="img/x-icon" rel="shortcut icon")
    <!-- All css files are included here. -->
    link( rel="stylesheet" href="css/vendor/bootstrap.min.css")
    link( rel="stylesheet" href="css/plugins/plugins.css")
    link( rel="stylesheet" href="css/style.min.css")
    link( rel="preload" href="fonts/lato.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/lato-bold.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/montserrat.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="preload" href="fonts/fontawesome-webfont.woff2" as="font" type="font/woff2" crossorigin )
  body
    #main-wrapper.site-wrapper
      include ../components/header/header

      block content

      include ../components/footer/footer

      include ../components/popup/popup-callback
      include ../components/popup/popup-request
      include ../components/popup/popup-success
      include ../components/popup/cookie

    script( src="js/vendor/jquery-3.6.0.min.js" )
    script( src="js/plugins/plugins.js")
    script( src="js/main.js")
