.contact-form,
.contact-form-wrap {
  position: relative;
}

input::placeholder,
textarea::placeholder {
  text-indent: 0;
  transition: color 0.3s ease, text-indent 0.6s ease;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  text-indent: 500px;
}

.contact-form input {
  width: 100%;
  height: 50px;
  border: 2px solid #ddd;
  padding: 5px 20px;
  color: #232323;
}

.contact-form input:focus {
  border-color: #fc9800;
  color: #1d2634;
}

.contact-form textarea {
  width: 100%;
  height: 120px;
  border: 2px solid #ddd;
  padding: 10px 20px;
  color: #232323;
}

.contact-form textarea:focus {
  border-color: #fc9800;
  color: #1d2634;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-form-wrap.margin-0 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .contact-form-wrap.margin-0 {
    margin-top: 0px;
  }
}

.contact-form-wrap h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 35px;
}

@media only screen and (max-width: 479px) {
  .contact-form-wrap h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.contact-form-wrap input {
  width: 100%;
  height: 50px;
  border: 2px solid #dddddd;
  padding: 5px 20px;
  color: #232323;
  height: 45px;
}

.contact-form-wrap input:focus {
  border-color: #fc9800;
}

.contact-form-wrap textarea {
  width: 100%;
  height: 200px;
  border: 2px solid #dddddd;
  padding: 10px 20px;
  color: #232323;
  resize: none;
}

.contact-form-wrap textarea:focus {
  border-color: #fc9800;
}

.contact-form-wrap button {
  margin-top: 20px;
}

.form-messege.success {
  color: #1dbc51;
  font-weight: 700;
}

.form-messege.error {
  color: #ff1313;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}
.errorMessage {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  z-index: 10;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px 15px 60px;
  max-width: 100%;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background-color: #ff1313;
  background-color: rgba(255, 19, 19, 0.8);
  border-radius: 15px;
  box-shadow:4px 5px 5px 0px #111111;
  animation: fadeInFromNone 0.3s ease-out;
}

.errorMessage.error {
  display: flex;

  &::after {
    position: absolute;
    z-index: 0;
    left: 15px;
    top: -15px;
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ff1313;
    border-bottom: 15px solid rgba(255, 19, 19, 0.8);
    width: 0;
    height: 0;
    transform: skewX(45deg);
  }

  &::before {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 15px;
    content: "!";
    width: 33px;
    height: 33px;
    margin-right: 15px;
    padding: 5px 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font: inherit;
    transform: translateY(-50%);
  }
}

.contact-form-consent {
  position: relative;
  padding-left: 30px;
}

.contact-form-consent label {
  font-size: 13px;
  color: #d2d2d2;
  cursor: pointer;
  margin: 10px 5px 0 0;

  &::before {
    position: absolute;
    left: 0;
    top: 18px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border: 2px solid #d2d2d2;
    content: "";
    transition: all 0.3s ease;
  }

  &:hover::before,
  &:focus::before {
    background-color: #333333;
  }

  &::after {
    position: absolute;
    left: 2px;
    top: 20px;
    width: 8px;
    height: 5px;
    background-color: transparent;
    border-left: 2px solid #1d2634;
    border-bottom: 2px solid #1d2634;
    transform: rotate(-45deg);
    content: "";
    transition: all 0.3s ease;
    opacity: 0;
  }
}

.contact-form-consent.dark label {
  color: #333333;
}

.contact-form-consent a {
  font-size: 13px;
  color: #d2d2d2;
  text-decoration: underline;
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.contact-form-consent.dark a {
  color: #333333;
}

.contact-form-consent input:checked + label {
  &::before {
    background-color: #fc9800;
    border-color: #fc9800;
  }
  &::after {
    opacity: 1;
  }
}

.contact-form-style {
  position: relative;
  margin-bottom: 20px;
}

form._sending::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: url('../images/icons/loading.gif') no-repeat center rgba(0, 0, 0, 0.7);
  content: "";
}

.error input {
  border-color: #ff1313;
  &:focus {
     border-color: #ff1313;
  }
}

