// CTA section start
.cta-section.section.bg-gray-two
  .container
    .row.no-gutters.align-items-center
      .col-md-1
        .pentagon-icon.cta-icon
          .icon
            i.fa.fa-users
      .col-md-8
        .cta-content
          h2 Получите проект за 24 часа
          p
            | We give a chance for people to work in the professional environment with challenges and values. Come with us!
      .col-md-3
        .cta-btn.text-center
          a.btn(href='#')
            | Отправить заявку
            i.fa.fa-angle-double-right
// CTA section end
