// Breadcrumb Section Start
.breadcrumb-section.section.bg-image.overlay.pt-75.pb-75.pt-sm-55.pb-sm-55.pt-xs-45.pb-xs-45(data-bg='./assets/images/bg/page_heading_bg01.jpg')
  .container
    .row.align-items-center
      .col-md-12
        ul.pagination
          li.pagination-item
            a.pagination-link(href="main.html") Главная
          li.pagination-item
            span.pagination-text Image Background
    .row.align-items-center
      .col-md-12
        .breadcrumb-title
          h2 Image Background
// Breadcrumb Section End
