// Footer section start
footer.footer-section.section.bg-image(data-bg='images/bg/footer-bg.jpg')
  // Footer Top start
  .footer-top.section.pt-100.pt-lg-80.pt-md-70.pt-sm-30.pt-xs-20.pb-sm-50.pb-xs-0
    .container
      .row
        // Footer Widget start
        .footer-widget.col-lg-4.col-md-6.col-sm-12.col-12.mb-30
          .footer-logo.pt-80.pt-sm-0
            a.footer-logo-link(href='index.html')
              img(src='https://via.placeholder.com/120x78/fff.png?text=Лого', alt="Логотип" width="120" height="78")
            span.footer-logo-description Системы кабельного электрообогрева
        // Footer Widget end
        // Footer Widget start
        .footer-widget.col-lg-3.col-md-6.col-sm-12.col-12.mb-30
          h4.title
            span.text Контакты
          ul
            li
              i.fa.fa-map-marker
              span
                a(href="contacts.html") 14 Tottenham Road, London, England.
            li
              i.fa.fa-phone
              span
                a(href='tel:10266668888')  (102) 6666 8888
            li
              i.fa.fa-envelope-o
              span
                a(href='mailto:info@example.com') info@example.com
            li
              i.fa.fa-clock-o
              span Mon - Sat: 9:00 - 18:00
        // Footer Widget end
        // Footer Widget start
        .footer-widget.col-lg-5.col-md-12.col-sm-12.col-12.mb-30
          h4.title
            span.text Меню
          .footer-menu
            .row
              .col-lg-5.col-md-5
                h5.footer-menu-title
                  a(href="#") Главная
                h5.footer-menu-title
                  a(href="#") О нас
                ul.footer-menu
                  li
                    a(href="#") Контакты
                  li
                    a(href="#") Партнеры
                  li
                    a(href="#") Сертификаты
                  li
                    a(href="#") О компании
                h5.footer-menu-title
                  a(href="#") Комплектующие
              .col-lg-7.col-md-7
                h5.footer-menu-title
                  a(href="#") Услуги
                ul.footer-menu
                  li
                    a(href="#") Тёплый пол
                  li
                    a(href="#") Обогрев дорог, шоссе, пешеходных переходов
                  li
                    a(href="#") Обогрев дорог, шоссе, пешеходных переходов
                  li
                    a(href="#") Обогрев дорог, шоссе, пешеходных переходов
                  li
                    a(href="#") Обогрев дорог, шоссе, пешеходных переходов
                  li
                    a(href="#") Обогрев дорог, шоссе, пешеходных переходов
        // Footer Widget end
  // Footer Top end

  // Footer bottom start
  .footer-bottom.section
    .container
      .row
        .col-lg-3.col-md-4.col-sm-12
          .copyright.text-left
            p © ООО «Альбинос», 2010
        .col-lg-6.col-md-4.col-sm-12
          .copyright.text-lg-center.text-sm-left
            p
              a(href="#") Политика конфеденциальности
              span и
              a(href="#") пользовательское соглашение
        .col-lg-3.col-md-4.col-sm-12
          .copyright.text-lg-right.text-sm-left
            p
              span Разработано
              a(href='index.html#') WEBELEMENT

  // Footer bottom end
// Footer section end
