// Work section Title start
.work-section.section
  .row.no-gutters
    .col-12
      .tab-content
        #all.tab-pane.fade.active.show
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='#')
                    +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Plumbing
                    h3.title
                      a(href='index-3.html#') Bathroom Plumbing
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project01.jpg' data-fancybox='projects')
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project02', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in London
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project02.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project03', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Interior Door Installation
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project03.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project04', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in Manchester
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project04.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project05', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Kitchen Remodel
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project05.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project06', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Door Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project06.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project09', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project10', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project10.jpg' data-fancybox="projects")
                          i.fa.fa-search
        #electrical.tab-pane.fade
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project05', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Kitchen Remodel
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project05.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project06', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Door Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project06.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project09', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Plumbing
                    h3.title
                      a(href='index-3.html#') Bathroom Plumbing
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project01.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project02', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in London
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project02.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project03', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Interior Door Installation
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project03.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project04', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in Manchester
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project04.jpg' data-fancybox="projects")
                          i.fa.fa-search
        #interiorOne.tab-pane.fade
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project09', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project10', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project10.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project05', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Kitchen Remodel
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project05.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project06', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Door Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project06.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Plumbing
                    h3.title
                      a(href='index-3.html#') Bathroom Plumbing
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project01.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project02', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in London
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project02.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project03', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Interior Door Installation
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project03.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project04', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in Manchester
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project04.jpg' data-fancybox="projects")
                          i.fa.fa-search
        #painting.tab-pane.fade
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project09', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project10', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project10.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Plumbing
                    h3.title
                      a(href='index-3.html#') Bathroom Plumbing
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project01.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project02', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in London
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project02.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project03', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Interior Door Installation
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project03.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project04', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in Manchester
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project04.jpg' data-fancybox="projects")
                          i.fa.fa-search
        #plumbing.tab-pane.fade
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project10', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project10.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project05', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Kitchen Remodel
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project05.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project06', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Door Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project06.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project01', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Plumbing
                    h3.title
                      a(href='index-3.html#') Bathroom Plumbing
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project01.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project02', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in London
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project02.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project03', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Interior Door Installation
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project03.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project04', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') White house in Manchester
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project04.jpg' data-fancybox="projects")
                          i.fa.fa-search
        #repair.tab-pane.fade
          .work-slider-two
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project05', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Interior
                    h3.title
                      a(href='index-3.html#') Kitchen Remodel
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project05.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project06', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Door Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project06.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project07', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Painting
                    h3.title
                      a(href='index-3.html#') Blue Working Room
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project07.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project09', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Green House
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project09.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project08', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Repair
                    h3.title
                      a(href='index-3.html#') Washing Machine Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project08.jpg' data-fancybox="projects")
                          i.fa.fa-search
            .col.pl-0.pr-0
              .project-item
                .daHover.project.pl-0.pr-0
                  a.img(href='index-3.html#')
                     +picture-jpg-webp('work/project10', 357, 238, 'slide', '')
                  .daHoverElem
                  .content.content-center
                    span.category
                      a(href='index-3.html#') Electrical
                    h3.title
                      a(href='index-3.html#') Electrical Repair
                    .pentagon-icon.work-search-icon
                      .icon
                        a.item.fancybox(href='images/work/project10.jpg' data-fancybox="projects")
                          i.fa.fa-search
// Work section Title end
