// Service Details Section Start
.service-details-section.section.pt-100.pt-lg-80.pt-md-70.pt-sm-60.pt-xs-50.pb-90.pb-lg-70.pb-md-60.pb-sm-50.pb-xs-40
  .container
    .row
      .col-lg-6
        .service-details-content.mb-sm-30.mb-xs-30
          h2 Renovation
          p
            | Every customer&rsquo;s individual needs are important to us . Our focus of providing quality plumbing service and products combined with honesty has made our plumbers the first choice of many residential and commercial clients worldwide. You can count on our plumber to take care of your plumbing and drainage needs-day or night with never an overtime charge. There&rsquo;s a reason they call us!
      .col-lg-6
        // FAQ Accordin Start
        .faq-accordion.yellow-color
          #accordion
            .card
              #headingOne.card-header
                h3.mb-0
                  a(href='service-renovation.html#', data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
                    i.fa.fa-wrench
                    |  Срок эксплуатации 25-30 лет
              #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                .card-body
                  .card-body In the construction industry, development projects usually require the knowledge and understanding of civil engineering and architecture. These are important disciplines that deal with the process of creating structures, such as buildings, airports, churches and houses.
            .card
              #headingTwo.card-header
                h3.mb-0
                  a.collapsed(href='service-renovation.html#', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                    i.fa.fa-wrench
                    |  Construction
              #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                .card-body
                  | In the construction industry, development projects usually require the knowledge and understanding of civil engineering and architecture. These are important disciplines that deal with the process of creating structures, such as buildings, airports, churches and houses.
            .card.actives
              #headingThree.card-header
                h3.mb-0
                  a.collapsed(href='service-renovation.html#', data-toggle='collapse', data-target='#collapseThree', aria-expanded='true', aria-controls='collapseThree')
                    i.fa.fa-wrench
                    |  Consulting
              #collapseThree.collapse.show(aria-labelledby='headingThree', data-parent='#accordion')
                .card-body
                  | A key factor that distinguishes project management from just &apos;management&apos; is that it has this final deliverable and a finite timespan, unlike management which is an ongoing process. Because of this a project professional needs a wide range of skills; often technical skills, and certainly people management skills.
            .card
              #headingFour.card-header
                h3.mb-0
                  a.collapsed(href='service-renovation.html#', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseThree')
                    i.fa.fa-wrench
                    |  Contractor
              #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordion')
                .card-body
                  | A key factor that distinguishes project management from just &apos;management&apos; is that it has this final deliverable and a finite timespan, unlike management which is an ongoing process. Because of this a project professional needs a wide range of skills; often technical skills, and certainly people management skills.
        // FAQ Accordin End
// Service Details Section End
