// Service section start
.service-section.section.pt-80.pt-md-50.pt-sm-40.pt-xs-45.pb-65.pb-lg-40.pb-md-35.pb-sm-25.pb-xs-15
  .container
    .container
    .row
      .col
        .section-title.text-uppercase.text-center.mb-50
          h2 Какие проблемы вы решите
    .row
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p
              | Our service is perfect for small renovation projects and repairs with high quality.
        // Single Features End
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p Install and replace Light fixtures, Outlets, Dimmer Switches, and others&mldr;
        // Single Features End
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p Install and replace Light fixtures, Outlets, Dimmer Switches, and others&mldr;
        // Single Features End
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
        // Single Features End
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p
              | In sollicitudin dignissim nisi, eu consequat leo semper sed. Nam hendrerit odio bibendum arcu aliquam.
        // Single Features End
      .col-lg-4.col-md-6
        // Single Features Start
        .single-features.service-style.mb-35
          .single-features-img
            +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
          .content
            h3
              | Дополнительный обогрев
            p
              | In sollicitudin dignissim nisi, eu consequat leo semper sed. Nam hendrerit odio bibendum arcu aliquam.
        // Single Features End
// Service section end
