extends pug/layout

block variables
  -let title = "О нас";

block content

  main
    +title-image-bg
    // Service section start
    .service-section.section.pt-90.pt-lg-70.pt-md-30.pt-sm-45.pt-xs-40.pb-70.pb-lg-50.pb-md-40.pb-sm-30.pb-xs-20
      .container-fluid.pl-30.pr-30
        .row
          h2.visually-hidden Список разделов
          .col-lg-4.col-md-6.col-sm-6
            // Single Service Start
            .single-service.mb-30
              .service-image
                +picture-jpg-webp('service/service-1', 440, 223, '1', '')
              .service-icon.pentagon-icon
                .icon
                  i.rn-renovation
                h3
                  a(href='company.html') О компании
              .service-content
                h3
                  a(href='company.html') О компании
                p We can help you bring new life to existing rooms and develop unused spaces.
                a.btn.service-btn(href='company.html')
                  | Узнать больше
                  i.fa.fa-angle-double-right
            // Single Service End
          .col-lg-4.col-md-6.col-sm-6
            // Single Service Start
            .single-service.mb-30
              .service-image
                +picture-jpg-webp('service/service-2', 440, 223, '1', '')
              .service-icon.pentagon-icon
                .icon
                  i.rn-electrical
                h3
                  a(href='contacts.html') Контакты
              .service-content
                h3
                  a(href='contacts.html') Контакты
                p We can help you bring new life to existing rooms and develop unused spaces.
                a.btn.service-btn(href='contacts.html')
                  | READ MORE
                  i.fa.fa-angle-double-right
            // Single Service End
          .col-lg-4.col-md-6.col-sm-6
            // Single Service Start
            .single-service.mb-30
              .service-image
                +picture-jpg-webp('service/service-3', 440, 223, '1', '')
              .service-icon.pentagon-icon
                .icon
                  i.rn-painting
                h3
                  a(href='partners.html') Бренды-партнеры
              .service-content
                h3
                  a(href='partners.html') Бренды-партнеры
                p We can help you bring new life to existing rooms and develop unused spaces.
                a.btn.service-btn(href='partners.html')
                  | READ MORE
                  i.fa.fa-angle-double-right
            // Single Service End
          .col-lg-4.col-md-6.col-sm-6
            // Single Service Start
            .single-service.mb-30
              .service-image
                +picture-jpg-webp('service/service-4', 440, 223, '1', '')
              .service-icon.pentagon-icon
                .icon
                  i.rn-plumbing
                h3
                  a(href='certificates.html') Сертификаты
              .service-content
                h3
                  a(href='certificates.html') Сертификаты
                p We can help you bring new life to existing rooms and develop unused spaces.
                a.btn.service-btn(href='certificates.html')
                  | READ MORE
                  i.fa.fa-angle-double-right
            // Single Service End
          .col-lg-4.col-md-6.col-sm-6
            // Single Service Start
            .single-service.mb-30
              .service-image
                +picture-jpg-webp('service/service-5', 440, 223, '1', '')
              .service-icon.pentagon-icon
                .icon
                  i.rn-heating
                h3
                  a(href='payment.html') Условия оплаты
              .service-content
                h3
                  a(href='payment.html') Условия оплаты
                p We can help you bring new life to existing rooms and develop unused spaces.
                a.btn.service-btn(href='payment.html')
                  | READ MORE
                  i.fa.fa-angle-double-right
            // Single Service End

        .container
          .row
            .col-12
              .post-full-item.mb-60
                .content.blog-grid-content
                  h2.title.mb-30 Choosing Which Roofing Material to Use for Your Home
                  p.mb-30 Uniquely architect user friendly strategic theme areas and scalable e-services. Monotonectally matrix resource sucking materials through clicks-and-mortar catalysts for change. Distinctively orchestrate reliable initiatives after bricks-and-clicks initiatives. Collaboratively foster professional applications with customized functionalities. Continually facilitate alternative web services with next-generation leadership.Proactively architect state of the art alignments via next-generation vortals. Phosfluorescently cultivate just in time architectures for standards compliant communities. Compellingly leverage existing superior content after tactical applications. Conveniently optimize alternative data without impactful imperatives. Holisticly unleash focused supply chains vis-a-vis accurate expertise.

