extends pug/layout

block variables
  -let title = "Комплектующие";

block content

  main
    +title-image-bg
    // Team Section Start
    .team-section.section.pt-95.pt-lg-75.pt-md-65.pt-sm-35.pt-xs-45.pb-70.pb-lg-50.pb-md-30.pb-sm-20.pb-xs-10
      .container
        .row
          h2.visually-hidden Список комплектующих
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Teamaccessories
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        .row
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
          .col-lg-6.col-md-12.col-sm-12
            // Single List Team Start
            .single-team.mb-30
              .team-image
                +pl-webp('https://via.placeholder.com/150', 150, 150, '')
              .team-content
                h3.mb-10
                  span.color-black Датчик
                  span Rayhem
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
            // Single List Team End
        // Team Section End
        .row
          .col-12
            ul.page-pagination
              li.active
                a(href='accessories.html#') 01
              li
                a(href='accessories.html#') 02
              li
                a(href='accessories.html#') 03
              li
                a(href='accessories.html#') 04
              li
                a(href='accessories.html#') 05
              li
                a(href='accessories.html#')
                  i.fa.fa-angle-right


