extends pug/layout

block variables
  -let title = "О компании";

block content

  main
    +title-image-bg-about
    // Demo Text Section Start
    .demo-text-section.section.pt-95.pt-lg-75.pt-md-65.pt-sm-55.pt-xs-45.pb-95.pb-lg-75.pb-md-65.pb-sm-55.pb-xs-45
      .container
        .row
          .col-12
            .demo-text
              p
                | Renovation&nbsp;Builders was established in 2003, in response to the growing need for quality housing and commercial space in the city. Since then, we have grown to be one of the leading real estate developers in the South Korea&nbsp;region, serving the needs of a discerning clientele.
              blockquote
                p
                  | To be the pioneering &amp; leading real estate developer in South&nbsp;Korea, known as a symbol of trust and integrity built through our unmatched quality work, timely project completion and personalized services at competitive prices.
              p
                | Today, Renovation&nbsp;Builders is a household name across the region. We have many firsts to our name. Be it the construction of the first mall or largest commercial and residential complex. Every Asian project is a standing testimony to our basic approach of upholding excellent standards in design and construction. All our projects bear our characteristic hallmarks- technical excellence, impeccable quality, spacious accommodation &amp; completion on schedule. Over the years, we have created a distinctive mark on the skyline of Gulbarga with our land mark developments.In fact, it commands more: the priceless trust of our customers and society &amp; a dedicated team of skilled professionals. Because of them, Asian Builders stand tall among the Gulbarga builders with more than 10 developments covering over one million sq.ft, which includes a shopping mall, with another around 5 lakh sq.ft currently under development.
    // Demo Text Section End

