h1  Системы электрообогрева
ol
  li
    a(href="main.html") main.html - Главная
  li
    a(href="services.html") services.html - Наши услуги
  li
    a(href="accessories.html") accessories.html - Комплектующие
  li
    a(href="about.html") about.html - О нас
    ul
      li
        a(href="company.html") company.html - О компании
      li
        a(href="contacts.html") contacts.html - Контакты
      li
        a(href="certificates.html") certificates.html - Сертификаты
      li
        a(href="partners.html") partners.html - Бренды-партнеры
      li
        a(href="payment.html") payment.html - Условия оплаты
  li
    a(href="404.html") 404.html - 404
  li
    a(href="privacy-policy") privacy-policy.html - Политика конфиденциальности
