extends pug/layout

block variables
  -let title = "Главная";

block content

  main
    include components/main-page/main-banner
    include components/cta-section/cta-section
    include components/main-page/activity
    include components/main-page/features-section
    include components/clasic-service-section/clasic-service-section
    .container
      .row
        .col-lg-12
          div.section-title.text-center.mt-85
            h2  НАШИ УСЛУГИ
    include components/service-section/service-section
    include components/main-page/manufacturers
    include components/feedback-section/feedback-section
