extends pug/layout

block variables
  -let title = "Бренды-партнеры";

block content

  main
    +title-image-bg-about
    // About Section Start
    .about-section.section.pt-100.pt-lg-80.pt-md-70.pt-sm-60.pt-xs-50.pb-100.pb-lg-80.pb-md-65.pb-sm-60.pb-xs-50
      .container
        .row.mb-70.mb-md-50.mb-sm-30
          .col-lg-6
            .about-content.mb-sm-30
              h2 Raychem
              p
                | One call does it all. Our company residential renovation services can help save time from the first phone call through project completion. Help with prioritizing major and minor home repairs and multi-tasking work means we complete jobs faster and better than your typical &ldquo;renovation for hire&rdquo;.Our Handyman team&rsquo;s professionals arrive in nationally-recognized uniforms and logoed vans that are stocked with every tool they&rsquo;ll need. You won&rsquo;t have to interrupt your day, wasting valuable time waiting on us. Our on-time record is second to none, and we arrive ready to work. We are always ready to help you 24/7. For all your major and minor home repair needs, call us today to get the best offer.
          .col-lg-6
            .about-page-image
              +pl-webp('https://via.placeholder.com/458x274', 458, 274, '.mb-sm-30')
        .row.mb-70.mb-md-50.mb-sm-30
          .col-lg-6
            .about-page-image
              +pl-webp('https://via.placeholder.com/458x274', 458, 274, '.mb-sm-30')
          .col-lg-6
            .about-content.mb-sm-30
              h2 Raychem
              p
                | One call does it all. Our company residential renovation services can help save time from the first phone call through project completion. Help with prioritizing major and minor home repairs and multi-tasking work means we complete jobs faster and better than your typical &ldquo;renovation for hire&rdquo;.Our Handyman team&rsquo;s professionals arrive in nationally-recognized uniforms and logoed vans that are stocked with every tool they&rsquo;ll need. You won&rsquo;t have to interrupt your day, wasting valuable time waiting on us. Our on-time record is second to none, and we arrive ready to work. We are always ready to help you 24/7. For all your major and minor home repair needs, call us today to get the best offer.
    // About Section End

