extends pug/layout

block variables
  -let title = "Условия оплаты";

block content

  main
    +title-image-bg-about
    // Demo Text Section Start
    .demo-text-section.section.pt-95.pt-lg-75.pt-md-65.pt-sm-55.pt-xs-45.pb-95.pb-lg-75.pb-md-65.pb-sm-55.pb-xs-45
      .container
        .row
          .col-12
            .demo-text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    // Demo Text Section End

    // Features section start
    .features-section.section.pb-65.pb-lg-45.pb-md-35.pb-sm-25.pb-xs-15
      .container
        .row
          .col-xl-4.col-lg-6.col-md-12.col-sm-12
            // Single Features Start
            .feature-wrap
              .feature-style-2.mb-35
                .content
                  h3
                    a(href='index-3.html#') Professional Handyman
                  p
                    | From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.
                .features-icon
                  i.pe-7s-cash
            // Single Features End
          .col-xl-4.col-lg-6.col-md-12.col-sm-12
            // Single Features Start
            .feature-wrap
              .feature-style-2.mb-35
                .content
                  h3
                    a(href='index-3.html#') Professional Handymanс
                  p
                    | From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.
                .features-icon
                  i.pe-7s-cash
            // Single Features End
          .col-xl-4.col-lg-6.col-md-12.col-sm-12
            // Single Features Start
            .feature-wrap
              .feature-style-2.mb-35
                .content
                  h3
                    a(href='index-3.html#') Professional Handyman
                  p
                    | From exhaust fan assessment to reviewing attic space and cleaning refrigerator coils to give you a safe life.
                .features-icon
                  i.pe-7s-cash
    // Features section end

