extends pug/layout

block variables
  -let title = "Наши услуги";

block content

  main
    +title-big-image-bg( 'Услуги кабельного электрообогрева' )
    include components/service-section/service-section
    .container
      .row
        .col-12
          .post-full-item.mb-60
            .content.blog-grid-content
              h2.title.mb-30 Choosing Which Roofing Material to Use for Your Home
              p.mb-30 Uniquely architect user friendly strategic theme areas and scalable e-services. Monotonectally matrix resource sucking materials through clicks-and-mortar catalysts for change. Distinctively orchestrate reliable initiatives after bricks-and-clicks initiatives. Collaboratively foster professional applications with customized functionalities. Continually facilitate alternative web services with next-generation leadership.Proactively architect state of the art alignments via next-generation vortals. Phosfluorescently cultivate just in time architectures for standards compliant communities. Compellingly leverage existing superior content after tactical applications. Conveniently optimize alternative data without impactful imperatives. Holisticly unleash focused supply chains vis-a-vis accurate expertise.
