extends pug/layout

block variables
  -let title = "Карточка услуги";

block content

  main
    .hero-section.section.position-relative
      .hero-item.bg-image(data-bg='images/hero/hero-3.jpg')
        .container
          .row.align-items-center
            .col-md-12
              ul.pagination
                li.pagination-item
                  a.pagination-link(href="main.html") Главная
                li.pagination-item
                  a.pagination-link(href="services.html") Наши услуги
                li.pagination-item
                  span.pagination-text Теплый пол
          .row
            .col-12
              // Hero Content start
              .hero-content-2
                +picture-png-webp('hero/home01-slide01', 281, 239, 'slide', 'left-img')

                .hero-content-wrapper
                  h1
                    span.sm-size.tx-uppercase Электрический <br> кабельный
                    span.sm-size.white.tx-uppercase теплый пол
                  p
                    span.tx-uppercase Проектирование
                    span.tx-uppercase Изготовление
                    span.tx-uppercase Доставка

                  a.btn.tx-uppercase._anchor-link(href='request-form')
                    | Узнать стоимость проекта
                    i.fa.fa-angle-double-right

    include components/cta-section/cta-section
    include components/service-details/service-details

        // Clasic Service section start
    .clasic-service-section.section.bg-dark-three
      .row.no-gutters.align-items-center
        .col-xl-6.col-lg-12
          .clasic-service-image
            +picture-jpg-webp('service/clasic-service', 720, 450, 'image', '')
        .col-xl-4.col-lg-12
          .clasic-service-content
            h2.title We Are Professional &amp; Thoughful HandyMan
            p
              | Everyhome owner has a list of renovation, home repair, or home improvement projects he or she needs done &mdash; both interior and exterior. Sometimes that list can get quite long, too! The bathrooms that needs updating. The garbage disposal that&rsquo;s on the fritz. The basement that needs drywall repairs. But with today&rsquo;s busy lifestyles, who has the time or the patience to do it all yourself? Let us help your home run more smoothly with a wide range of affordable repair, improvement and remodel services.
            a.btn.white-hover(href='#')
              | FIND OUT MORE
              i.fa.fa-angle-double-right
        .col-xl-2.d-xl-block.d-none
    // Clasic Service section end


    include components/service-details/single-features
    include components/main-page/features-section
    include components/clasic-service-section/clasic-service-section
    include components/brief-form/brief-form
    // Work section Title start
    .work-section-title.section.bg-dark-three.jarallax.pt-95.pt-lg-75.pt-md-65.pt-sm-55.pt-xs-45
      .container
        .row
          .col
            .section-title.color-white.mb-35
              h2 125 проектов  за 20 лет работы
    include components/project-slider/project-slider

    // Work section Title end

    include components/main-page/manufacturers

    // Clasic Service Two section start
    .clasic-service-section-three.section.pt-md-70.pb-md-70.pt-sm-60.pb-sm-60.bg-red.simple-bg
      .container
        .row.align-items-end
          .col-xl-8.col-lg-12.pl-xs-0.pr-xs-0
            .clasic-service-content-three.bg-gray-two
              h2 Комплектующие системы теплый пол
              .row
                .col-lg-6.col-md-12.col-sm-12
                  // Single List Team Start
                  .single-team.mb-30.pt-15.pl-15.pr-15.pb-15.single-team-small
                    .team-image
                      +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
                    .team-content
                      h3.mb-5
                        span.color-black Датчик
                        span Rayhem
                      p Quis autem vel eum iure reprehenderit qui voluptate velit esse quam nihil molesti acons equatur vel illum qui dolorem eum.
                  // Single List Team End
                .col-lg-6.col-md-12.col-sm-12
                  // Single List Team Start
                  .single-team.mb-30.pt-15.pl-15.pb-15.pr-15.single-team-small
                    .team-image
                      +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
                    .team-content
                      h3.mb-5
                        span.color-black Датчик
                        span Rayhem
                      p Quis autem vel eum iure reprehenderit qui voluptate velit esse quam nihil molesti acons equatur vel illum qui dolorem eum.
                  // Single List Teamaccessories
              .row
                .col-lg-6.col-md-12.col-sm-12
                  // Single List Team Start
                  .single-team.mb-30.pt-15.pl-15.pr-15.pb-15.single-team-small
                    .team-image
                      +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
                    .team-content
                      h3.mb-5
                        span.color-black Датчик
                        span Rayhem
                      p Quis autem vel eum iure reprehenderit qui voluptate velit esse quam nihil molesti acons equatur vel illum qui dolorem eum.
                  // Single List Team End
                .col-lg-6.col-md-12.col-sm-12
                  // Single List Team Start
                  .single-team.mb-30.pt-15.pl-15.pr-15.pb-15.single-team-small
                    .team-image
                      +pl-webp('https://via.placeholder.com/100x97', 100, 97, '')
                    .team-content
                      h3.mb-5
                        span.color-black Датчик
                        span Rayhem
                      p Quis autem vel eum iure reprehenderit qui voluptate velit esse quam nihil molesti acons equatur vel illum qui dolorem eum.
                  // Single List Teamaccessories
              .row
                a.btn.white-hover.clasic-service-section-three-link(href="accessories.html") Комплектующие
                  i.fa.fa-angle-double-right
          .col-lg-4


          // Clasic Service Two section end

    include components/feedback-section/feedback-section
