// Service section start
.service-section.section.pt-90.pt-lg-70.pt-md-30.pt-sm-45.pt-xs-40.pb-70.pb-lg-50.pb-md-40.pb-sm-30.pb-xs-20
  .container-fluid.pl-30.pr-30
    .row
      .col-lg-12
        div.section-title.text-center.mb-65
          h2  НАШИ УСЛУГИ
    .row
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-1', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-renovation
            h3
              a(href='service-renovation.html') Теплый пол
          .service-content
            h3
              a(href='service-renovation.html') Теплый пол
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-renovation.html')
              | Узнать больше
              i.fa.fa-angle-double-right
        // Single Service End
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-2', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-electrical
            h3
              a(href='service-electrical.html') Electrical
          .service-content
            h3
              a(href='service-electrical.html') Electrical
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-electrical.html')
              | READ MORE
              i.fa.fa-angle-double-right
        // Single Service End
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-3', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-painting
            h3
              a(href='service-painting.html') Painting
          .service-content
            h3
              a(href='service-painting.html') Painting
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-painting.html')
              | READ MORE
              i.fa.fa-angle-double-right
        // Single Service End
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-4', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-plumbing
            h3
              a(href='service-plumbing.html') Plumbing
          .service-content
            h3
              a(href='service-plumbing.html') Plumbing
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-plumbing.html')
              | READ MORE
              i.fa.fa-angle-double-right
        // Single Service End
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-5', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-heating
            h3
              a(href='service-heating.html') Heating
          .service-content
            h3
              a(href='service-heating.html') Heating
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-heating.html')
              | READ MORE
              i.fa.fa-angle-double-right
        // Single Service End
      .col-lg-4.col-md-6.col-sm-6
        // Single Service Start
        .single-service.mb-30
          .service-image
            +picture-jpg-webp('service/service-6', 435, 220, 'service', '')
          .service-icon.pentagon-icon
            .icon
              i.rn-home
            h3
              a(href='service-roofing.html') Roofing
          .service-content
            h3
              a(href='service-roofing.html') Roofing
            p We can help you bring new life to existing rooms and develop unused spaces.
            a.btn.service-btn(href='service-roofing.html')
              | READ MORE
              i.fa.fa-angle-double-right
        // Single Service End
  // Service section end

